<ion-modal-view>
  <ion-header-bar>



    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
    <h1 class="title">

    </h1>
  </ion-header-bar>
  <ion-content>
    <count-down task="task"></count-down>
    <br>
    <div style="height:200px;" class="text-center">
      <img ng-src="{{'http://'+task.url}}" style="    max-height: 100%;max-width: 100%;">
    </div>
    <div class="padding">
      <div class="text-center padding" style="font-size: 24px;">
        {{task.myAnswer.answer}} (<i class="icon icon-small ion-record" style="padding: 5px;vertical-align: text-top;" ></i>{{myBet}})
      </div>
    </div>

    <div class="padding" style="position: fixed; bottom: 10px; width:100%" >
      <button class="button button-block  button-assertive"
              ng-disabled="true"
              ng-click="cancelBet()" >
        <!--<span class="pro-label white-text" ng-show="!user.isPro" >+ PRO</span>-->
        {{'CARD.CANCEL' | translate}}
      </button>
    </div>


  </ion-content>
</ion-modal-view>
