<ion-view view-title="2nd Best">
  <ion-nav-bar>
  <ion-nav-buttons side="primary">
  <button
    class="button button-icon button-clear ion-ios-person-outline"
    nav-direction="back"
    ui-sref="app.profile">
  </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
  <button
    class="button button-icon button-clear ion-ios-checkmark-outline"
    nav-direction="forward"
    ui-sref="app.history">
    <span class="badge badge-energized"
          ng-show="unread.count>0"
          style="position: absolute;top: -2px;right: -2px;font-size: 12px;padding: 0px 7px;">!</span>
  </button>

  </ion-nav-buttons>
    </ion-nav-bar>


  <ion-content>
    <div ng-if="tasks">
      <div ng-repeat="task in tasks" >
        <task-card ng-if="::!task.advert" task="task" ng-click="showTask(task)"></task-card>
        <banner ng-if="::task.advert" ></banner>
      </div>


    </div>

    <div ng-if="!tasks">
       - spinner -
    </div>
  </ion-content>
</ion-view>

