<ion-modal-view>
    <ion-header-bar>


        <h1 class="title">
            Помощь
        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <ul class="bulled-list">
            <li>Задания появляются каждый час и живут в течении суток</li>
            <li>Задача - угадать, какая ассоциация будет второй(!) по популярности и сделать на нее ставку</li>
            <li>Угадавший, получает приз в размере 10 ставок</li>
            <li>Тот, кто промахнулся и угодал самый популярный, получает штраф в размере 10 ставок</li>
            <li>Счет игрока никогда не уйдет ниже нуля, даже в случае штрафа</li>
        </ul>


    </ion-content>
</ion-modal-view>
