<ion-view view-title="Сыграно">
  <ion-nav-bar>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-left"  nav-direction="back" ui-sref="app.cards">
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>
    <div>
      <ion-infinite-scroll
              on-infinite="loadMore()"
              ng-if="moreDataCanBeLoaded()"
              distance="1%">
      </ion-infinite-scroll>
      <ion-list>
        <ion-item class="card" ng-repeat="answer in answers">
          <!--<img ng-src="http://{{answer.task.url}}" alt="" width="150px" height="auto"/>-->
          <div class="history-card"
               ng-click="showDetails(answer)"
               ng-style="{backgroundImage:'url(\'http://'+answer.task.url+'\')'}">
            <div class="ribbon" ng-class="answer.result.state">
              <span ng-show="answer.result.state=='looser'" class="icon-skull white-text"></span>
              <span ng-show="answer.result.state=='winner'" class="icon-crown white-text"></span>
            </div>
            <div class="word">
              {{answer.answer}}
            </div>
          </div>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
