<ion-modal-view>
  <ion-header-bar>


    <h1 class="title">

    </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div style="height:200px;" class="text-center">
      <img ng-src="{{'http://'+task.url}}" style="    max-height: 100%;max-width: 100%;">
    </div>

    <div class="padding">
      <div class="row" style="    font-size: 22px;" ng-show="answer.result.state=='looser' || answer.result.state=='winner'">

        <div class="col col-33 text-center white-text"
             ng-class="betClasses[answer.betId]"> x{{answer.betId}} </div>
        <div class="col col-33 text-center white-text" ng-class="{'winner-color-bg':answer.result.state=='winner','looser-color-bg':answer.result.state=='looser'}">
          <span ng-show="answer.result.state=='looser'" class="zicon icon-skull white-text"></span>
          <span ng-show="answer.result.state=='winner'" class="zicon icon-crown white-text"></span>
        </div>

        <div class="col col-33 text-center"> {{answer.result.coins}} </div>
      </div>
      <div class="row">
        <div class="col text-center padding gray-text" style="font-size: 24px;">
          {{answer.answer}}
        </div>
      </div>
      <div class="text-center padding" style="font-size: 24px;">

        <!-- ANSWER LISTS -->
        <div  class="row"
              ng-class="{'winner-color-text':a.status=='winner','looser-color-text':a.status=='looser'}"
              ng-style="{'fontWeight':a.word==answer.answer?'800':'300'}"
              ng-repeat="a in answer.task.answers  | orderBy:'-votes'" style="font-size: 14px;">
          <div class="col col-20" style="color:inherit">
            {{a.votes}}
          </div>
          <div class="col col-60" style="color:inherit">
            {{a.word}}
          </div>
          <div class="col col-20" style="color:inherit" >
            <span ng-show="a.status=='looser'" class="icon-skull looser-color-text"></span>
            <span ng-show="a.status=='winner'" class="icon-crown winner-color-text"></span>
          </div>


        </div>
      </div>
    </div>

    <div class="padding" style="position: fixed; bottom: 10px; width:100%" >

    </div>


  </ion-content>
</ion-modal-view>
