<ion-modal-view>
    <ion-content>

        <ion-slide-box >
            <ion-slide>
                <div class="intro-slide " style="padding: 20px;">
                    <div style="margin-left:-20px; margin-right:-20px; width:100vw;height:100vw;background-image: url('img/intro_slide_1.png'); background-repeat: no-repeat; background-size: cover;"></div>
                    <h1 style="margin-top: 0px;" class="text-center gray-text">{{'INTRO.TITLE' | translate}}</h1>
                    <h4 class="text-center gray-text">{{'INTRO.DESC' | translate}}</h4>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="intro-slide " style="padding-top: 20px;">

                    <h3 class="text-center gray-text"> {{'INTRO.2ND_TITLE' | translate}}</h3>

                   <div class="row" >
                       <div class="col col-40" style="position: relative;">
                           <div style="width:100%;bottom: 0px;position: absolute;top: 10px;height:100%;background-position: 50%; background-image: url('img/intro_slide_2.png'); background-repeat: no-repeat; background-size: cover;"></div>
                       </div>
                       <div class="col col-60">

                           <div class="row">
                               <div class="col col-20 text-center white-text looser-color-bg" >
                                   <span style="vertical-align: middle;line-height: 40px;   font-size: 22px;" class="zicon icon-skull white-text"></span>
                               </div>
                               <h5 class="col looser-color-text"> {{'INTRO.ANSWER_LOOSER' | translate}} </h5>
                               <h5 class="col col-33 looser-color-text text-right" style="white-space: nowrap;">
                                   <span class="icon ion-person looser-color-text"></span> 169
                               </h5>
                           </div>
                           <div class="row">
                               <div class="col col-20  text-center white-text winner-color-bg" >
                                   <span style="vertical-align: middle;line-height: 40px;   font-size: 22px;" class="zicon icon-crown white-text "></span>
                               </div>
                               <h5 class="col winner-color-text "> {{'INTRO.ANSWER_WINNER' | translate}} </h5>
                               <h5 class="col col-33 winner-color-text text-right" style="white-space: nowrap;">
                                   <span class="icon ion-person winner-color-text"></span> 72
                               </h5>
                           </div>
                           <div class="row">
                               <div style="vertical-align: middle;line-height: 40px;   font-size: 22px; background-color: #eeeeee;"  class="col col-20  text-center gray-text " >
                                   -
                               </div>
                               <h5 class="col gray-text"> {{'INTRO.ANSWER_GAPER' | translate}} </h5>
                               <h5 class="col col-33 gray-text text-right" style="white-space: nowrap;">
                                   <span class="icon ion-person gray-text"></span> 34
                               </h5>
                           </div>

                       </div>

                   </div>
                    <div class="row row-center" style="min-height: 50%;">
                        <h5 class="gray-text text-center"> {{'INTRO.ROOLS' | translate}}</h5>
                    </div>



                    <!--<div class="row">-->
                        <!--<h5 class="col col-33 looser-color-text text-right">-->
                            <!--<span class="icon ion-person looser-color-text"></span> 169-->
                        <!--</h5>-->
                        <!--<div class="col col-10 text-center white-text looser-color-bg" >-->
                            <!--<span style="vertical-align: middle;line-height: 40px;   font-size: 22px;" class="zicon icon-skull white-text"></span>-->
                        <!--</div>-->
                        <!--<h4 class="col looser-color-text"> {{'INTRO.ANSWER_LOOSER' | translate}} </h4>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<h5 class="col col-33 winner-color-text text-right">-->
                            <!--<span class="icon ion-person winner-color-text"></span> 72-->
                        <!--</h5>-->
                        <!--<div class="col col-10  text-center white-text winner-color-bg" >-->
                            <!--<span style="vertical-align: middle;line-height: 40px;   font-size: 22px;" class="zicon icon-crown white-text "></span>-->
                        <!--</div>-->
                        <!--<h4 class="col winner-color-text "> {{'INTRO.ANSWER_WINNER' | translate}} </h4>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<h5 class="col col-33 gray-text text-right">-->
                            <!--<span class="icon ion-person gray-text"></span> 34-->
                        <!--</h5>-->
                        <!--<div style="vertical-align: middle;line-height: 40px;   font-size: 22px; background-color: #eeeeee;"  class="col col-10  text-center gray-text " >-->
                             <!-- - -->
                        <!--</div>-->
                        <!--<h4 class="col gray-text"> {{'INTRO.ANSWER_GAPER' | translate}} </h4>-->
                    <!--</div>-->
                </div>
            </ion-slide>
            <ion-slide>
                <div class="intro-slide " style="padding: 20px;">
                    <h3 class="text-center gray-text"> {{'INTRO.3RD_TITLE' | translate}}</h3>


                    <div style="position: absolute;    bottom: 30px;width: 100%;left: 0px; padding: 20px;" >
                    <button class="button button-positive button-block" ng-click="signInFb()">
                        {{'INTRO.FB' | translate}}
                    </button>
                    <button class="button button-calm button-block" ng-click="signInVk()">
                        {{'INTRO.VK' | translate}}
                    </button>
                        <br>
                    <h5 class="text-center gray-text clickable" ng-click="signInNaked()"> {{'INTRO.NO_REG' | translate}}</h5>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>



    </ion-content>
</ion-modal-view>