<!--<ion-side-menus enable-menu-with-back-views="false">-->
    <!--<ion-nav-bar class="bar-stable">-->
      <!--<ion-nav-back-button>-->
      <!--</ion-nav-back-button>-->

      <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-icon button-clear ion-ios-person-outline" menu-toggle="left"  ui-sref="app.profile">-->
        <!--</button>-->
      <!--</ion-nav-buttons>-->

      <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-icon button-clear ion-ios-bolt-outline" menu-toggle="right">-->
        <!--</button>-->
      <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->
  <!--<ion-nav-view name="menuContent"></ion-nav-view>-->
<!--</ion-side-menus>-->



<ion-nav-bar class="bar-stable">
<!--<ion-nav-back-button>-->
<!--</ion-nav-back-button>-->

<!--<ion-nav-buttons side="left">-->
<!--<button class="button button-icon button-clear ion-ios-person-outline" menu-toggle="left"  ui-sref="app.profile">-->
<!--</button>-->
<!--</ion-nav-buttons>-->

<!--<ion-nav-buttons side="right">-->
<!--<button class="button button-icon button-clear ion-ios-bolt-outline" menu-toggle="right">-->
<!--</button>-->
<!--</ion-nav-buttons>-->
</ion-nav-bar>
<ion-nav-view name="menuContent">
</ion-nav-view>
