<ion-modal-view>
  <ion-header-bar>

    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
    <h1 class="title">
      <!--{{'ANSWER_MODAL.TITLE' | translate}}-->
    </h1>
    <button class="button"
            ng-disabled="task.isBlocked"
            ng-click="sendAnswer()"
            ng-class="betSetup[betConfig.betIndex].class"> Отправить <i class="icon icon-small ion-record white-text" ></i>

        <span class="pro-label white-text" ng-show="betConfig.bets[betConfig.betIndex].isPro && !user.isPro" >+ PRO</span>
        {{betConfig.postPrice}}
    </button>
  </ion-header-bar>
  <ion-content>
      <count-down task="task"></count-down>
      <br>
    <div style="height:200px;" class="text-center">
      <img ng-src="{{'http://'+task.url}}" style="    max-height: 100%;max-width: 100%;">
    </div>
    <div class="padding">
        <button class="button button-small" ng-class="betSetup[betConfig.betIndex].class" ng-click="changeBet()" style="    min-width: 40px;float:left; height: 40px;">
        x{{betConfig.bets[betConfig.betIndex].mult}}
        </button>
        <input ng-change="onAnswerChange()" maxlength="30" ng-model="task.newAnswer" style="vertical-align: middle; line-height: 40px;   height: 40px; text-align: center;font-size: 24px;" type="text" placeholder="{{'ANSWER_MODAL.INPUT_PLACEHOLDER' | translate}}">
    </div>



  </ion-content>
    <div style="position: fixed; bottom: 0px; width:100%;padding: 0px 10px" class="text-center">
        <button class="button button-stable button-block " ng-click="showHelp()" >
            Правила
        </button>
    </div>
</ion-modal-view>
