<ion-view view-title="Профиль">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button
        class="button button-icon button-clear ion-gear-b"
        nav-direction="back"
        ng-click="showSetup()"
        >
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-arrow-right"
              nav-direction="forward"
              ui-sref="app.cards"
        >
        <!--ui-sref="app.profile"-->
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>

    <div class="card clickable">
      <div class="item item-divider item-icon-right small-icon">
        <i class="icon ion-chevron-right"></i>
        Статистика
      </div>
      <div class="item item-text-wrap">
        <table style="width:100%">
          <tr>
            <td>Монет:</td>
            <td class="coins" style="text-align: right;">{{user.coins}}</td>
          </tr>

          <tr>
            <td>Игр завершено:</td>
            <td style="text-align: right;">{{user.stats.games}}</td>
          </tr>

        </table>

      </div>
    </div>


    <div class="card clickable">
      <div class="item item-divider item-icon-right small-icon">
        <i class="icon ion-chevron-right"></i>
        Рейтинг
      </div>
      <div class="item item-text-wrap">
        <table style="width:100%">
          <tr>
            <td>Место в рейтинге:</td>
            <td style="text-align: right;">{{rating_position}}</td>
          </tr>
        </table>

      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Магазин
      </div>
      <div class="item item-text-wrap">
        <div class="row" style="padding: 0px;">
          <div class="col col-33" style="padding: 0px 4px 0px 0px;">
            <button class="button button-block button-positive " ng-click="order('coins0')">
              <span class="shop-label white-text coins">500</span>
              <span class="shop-price white-text">$0.99</span>
            </button>
          </div>
          <div class="col col-33" style="  padding: 0px;">
            <button class="button button-block button-positive" ng-click="order('coins_pro1')">
              <span class="shop-label white-text coins">1000</span>
              <span class="pro-label white-text ">+ PRO</span>
              <span class="shop-price white-text">$1.99</span>
            </button>
          </div>
          <div class="col col-33" style="    padding: 0px 0px 0px 4px;">
            <button class="button button-block button-positive" ng-click="order('coins_pro2')">
              <span class="shop-label white-text coins">10 000</span>
              <span class="pro-label white-text">+ PRO</span>
              <span class="shop-price white-text">$2.99</span>
            </button>
          </div>
        </div>
        <div class="row" style="padding: 0px; display: block">
          <span class="pro-label white-text" style="position: static;display: inline;height: 20px;float: left;margin-right: 6px;">+ PRO</span>
          <span class="small-text">{{'PROFILE.PRO_DESC' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Бейджи
      </div>
      <div class="item item-text-wrap">
        <div class="row" ng-repeat="(badgetype, badges) in user.badges">
          <div class="row">{{badgetype}}</div>
          <div class="row">
            <div class="col" ng-repeat="b in badges">.{{b}}.</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
