<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">

        </h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <button class="button button-block button-stable " ng-click="openLink('https://gen4mail.typeform.com/to/btAD4c')">
                    Обратная связь
                </button>
                <button class="button button-block button-stable " ng-click="showHelp()">
                    Правила
                </button>
            </div>
        </div>

        <div class="card" ng-if="!hasSocial">
            <div class="item item-divider">
                {{'SETUP.ADD_SERVICE' | translate}}
            </div>
            <div class="item item-text-wrap">

                <button class="button button-positive button-block" ng-click="addFb()">
                    {{'INTRO.FB' | translate}}
                </button>
                <button class="button button-calm button-block" ng-click="addVk()">
                    {{'INTRO.VK' | translate}}
                </button>
            </div>
        </div>


        <div class="card">
            <div class="item item-text-wrap">
                <button class="button button-stable button-block" ng-click="logout()">
                    Выйти
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>