<div class="text-center white-text" style="width:100%; padding: 6px;" ng-class="barclass">
    <!--<span>{{seconds | amDateFormat : '23:59:59' }}</span>-->

    <span class="white-text" >{{secondsFormated}}</span>
</div>