<div class="taskcard">

  <div class="list card ">

    <div class="answered-ribbon" ng-show="task.myAnswer">
      <!--<i class="icon ion-checkmark-circled"></i>-->
    </div>
    <div class="item item-image">
      <img ng-src="{{'http://'+task.url}}">
    </div>

  </div>
  <div class="time padding-right"><span am-time-ago="task.shouldBeClosedAt | amUtc  "></span></div>
</div>
