@import "constants";


.card{
  padding-bottom: 0px;
  padding-top: 0px;
}
.taskcard{
  position: relative;
  padding-bottom: 10px;
  .answered-ribbon{
    top: 0;
    right: -30px;
    z-index: 9;
    position: absolute;
    background-color: yellowgreen;
    color:white;
    width: 60px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
  }
  .time{
    position: absolute;
    bottom:10px;
    right:0;
    color:gray;
    font-size: 12px;

  }
}

.history-card{
  width:100%;
  height:100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 1px;
  .ribbon{
    top: -4px;
    right: -30px;
    z-index: 9;
    position: absolute;
    color: white;
    width: 80px;
    line-height: 37px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    &.winner{
      background-color: $win-color;
    }
    &.looser{
      background-color: $loose-color;
    }
  }
  .word{
    width:100%;
    height:100%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    color:white;
    font-size: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);

  }
}