.shop-price{
  font-size: 24px;
  white-space: nowrap
}
.shop-label{
  font-size: 12px;
  white-space: nowrap
}
.pro-label{
  display: block;
  padding: 6px;
  background-color: #ffc900;
  border-radius: 4px;
  font-weight: 500;
  position: absolute;
  line-height: 6px;
  top: -6px;
  right: -4px;
  font-size: 12px;
  white-space: nowrap
}
