@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

/*[data-icon]:before {*/
  /*font-family: "untitled-font-1" !important;*/
  /*content: attr(data-icon);*/
  /*font-style: normal !important;*/
  /*font-weight: normal !important;*/
  /*font-variant: normal !important;*/
  /*text-transform: none !important;*/
  /*speak: none;*/
  /*line-height: 1;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/*[class^="zicon"]:before,*/
/*[class*=" zicon"]:before {*/
.zicon {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skull:before {
  content: "\61";
}
.icon-trophy:before {
  content: "\62";
}
.icon-checkbox:before {
  content: "\63";
}
.icon-crown:before {
  content: "\64";
}
.icon-dislike:before {
  content: "\65";
}
.icon-like:before {
  content: "\66";
}
.icon-female:before {
  content: "\67";
}
.icon-dollar:before {
  content: "\68";
}
.icon-dollar-bill:before {
  content: "\69";
}
.icon-foot:before {
  content: "\6a";
}
.icon-eye:before {
  content: "\6b";
}
.icon-male:before {
  content: "\6c";
}
.icon-plus:before {
  content: "\6d";
}
.icon-star:before {
  content: "\6e";
}
.icon-torso:before {
  content: "\6f";
}
.icon-trash:before {
  content: "\70";
}
.icon-widget:before {
  content: "\71";
}
.icon-x:before {
  content: "\72";
}
