@charset "UTF-8";
@import url(icon-styles.css);
.card {
  padding-bottom: 0px;
  padding-top: 0px; }

.taskcard {
  position: relative;
  padding-bottom: 10px; }
  .taskcard .answered-ribbon {
    top: 0;
    right: -30px;
    z-index: 9;
    position: absolute;
    background-color: yellowgreen;
    color: white;
    width: 60px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .taskcard .time {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: gray;
    font-size: 12px; }

.history-card {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 1px; }
  .history-card .ribbon {
    top: -4px;
    right: -30px;
    z-index: 9;
    position: absolute;
    color: white;
    width: 80px;
    line-height: 37px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
    .history-card .ribbon.winner {
      background-color: #8ce522; }
    .history-card .ribbon.looser {
      background-color: #f73659; }
  .history-card .word {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4); }

.shop-price {
  font-size: 24px;
  white-space: nowrap; }

.shop-label {
  font-size: 12px;
  white-space: nowrap; }

.pro-label {
  display: block;
  padding: 6px;
  background-color: #ffc900;
  border-radius: 4px;
  font-weight: 500;
  position: absolute;
  line-height: 6px;
  top: -6px;
  right: -4px;
  font-size: 12px;
  white-space: nowrap; }

i.icon-small::before {
  font-size: 10px !important; }

.history-badge {
  padding: 10px;
  color: white; }

* {
  color: #43496F; }

.clickable {
  cursor: pointer; }

.gray-text {
  color: #43496F; }

.white-text {
  color: white; }

.winner-color-text {
  color: #8ce522; }

.winner-color-bg {
  background-color: #8ce522; }

.looser-color-text {
  color: #f73659; }

.looser-color-bg {
  background-color: #f73659; }

.coins:before {
  font-size: 200%;
  vertical-align: middle;
  content: '•'; }

.small-icon .icon {
  right: 4px;
  font-size: 100%; }

.intro-slide {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: #43496F; }

.small-text {
  font-size: 75%; }

.bulled-list {
  list-style: disc !important;
  margin: 20px 10px 20px 20px; }

/*# sourceMappingURL=style.css.map */
