@import "card";
@import "profile";
@import "constants";
@import "icon-styles.css";

i.icon-small::before {
  font-size: 10px !important;

}

.history-badge{
  padding: 10px;
  color:white;
}

*{
  color:$text-gray;
}

.clickable{
  cursor: pointer;
}

.gray-text{
  color: $text-gray;
}

.white-text{
  color: white;
}

.winner-color-text{
  color: $win-color;
}
.winner-color-bg{
  background-color: $win-color;
}

.looser-color-text{
  color:$loose-color;
}

.looser-color-bg{
  background-color: $loose-color;
}

.coins:before{
  font-size: 200%;
  vertical-align: middle;
  content: '•';
  //line-height: normal;
}

.small-icon{
  .icon{
    right:4px;
    font-size: 100%;
  }
}

.intro-slide{
  width:100vw;
  height: 100vh;

  background-color: white;
  color: $text-gray;
}
.small-text{
  font-size: 75%;
}

.bulled-list{
    list-style: disc !important;
    margin: 20px 10px 20px 20px;
    //list-style-type: disc;

}